body {
    background: #222;
    color: white;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;

    #react-app {
        p.placeholder {
            font-style: italic;
        }

        nav {
            a {
                display: inline-block;
                line-height: 25px;
                font-weight: bold;
                padding: 10px;
                margin: 10px;
                border: 1px solid white;
                text-decoration: none;
                color: white;

                &:hover {
                    background: #555;
                }
            }
        }
    }
}